@import '../../vendor/mixins.scss';
@import '../../vendor/constants.scss';

.services {
  @include max_width;
  margin: 0 auto;
  text-align: center;
  padding: 60px 0;
}

.services__title {
  @include title-font;
}

.services__subtitle {
  @include subtitle-font;
}

.services__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.services__action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services__action-line {
  background-color: $blue;
  height: 10px;
  width: 100%;
}