@import '../../vendor/mixins.scss';
.mainPicture{
  @include max_width;
  margin: 0 auto;
  margin-top: 53px;
  position: relative;
}

.mainPicture__logo{
  position: absolute;
  top: 10px;
  left: 10px;
  height: 200px;
}

.mainPicture__image{
  width: 100%;
  height: fit-content  
}

.mainPicture__title{
  @include text-bold;
  margin: 0;
  font-size: 40pt;
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  color: white;
}